[submodule "eshop-sparkle-assets"]
	path = eshop-sparkle-assets
	url = https://github.com/petrkrulis2022/shop-sparkle-assets.git
[submodule "onofframp-cube-paygate"]
	path = onofframp-cube-paygate
	url = https://github.com/petrkrulis2022/on-off-ramp-cube-paygate.git
[submodule "agentsphere-full-web-man-US"]
	path = agentsphere-full-web-man-US
	url = https://github.com/petrkrulis2022/agentsphere-full-web-man-US.git
